<div class="card">
    <div class="table-responsive">
        <table class="table table-vcenter card-table">
            <thead>
                <tr>
                    <th style="width: 20px;"></th>
                    <th>User Name</th>
                    <th>Time</th>
                    <th class="w-1"></th>
                </tr>
            </thead>
            <tbody class="tableBody">
                {{#each allNotification}}
                <tr id="{{likedBy}}{{postId}}" class="showPostFromAllNotification" data-postid="{{postId}}" data-isseen="{{isSeen}}" {{#compare
                    isSeen "==" false }}style="background-color: #add8e6;"
                    {{/compare}}style="background-color: #ffffff">
                    <td>
                        <span class="status-dot status-dot-animated bg-primary d-block"></span>
                    </td>
                    <td>
                        <div class="d-flex py-1 align-items-center">
                            <span class="avatar me-2"
                                style="border-radius :25px; background-image: url(/images/users/{{#if userDetails.profilePath}}{{userDetails.profilePath}}{{else}}defaultAvatar.jpg{{/if}})"></span>
                            <div class="flex-fill">
                                <div class="font-weight-medium">{{likedUserName}}</div>
                                <div class="text-muted"><a href="#" class="text-reset">{{userDetails.email}}</a></div>

                            </div>
                        </div>
                    </td>
                    <td>
                        <div>{{dateFormat createdOn}}</div>
                        <div class="text-muted">Liked your post</div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>