<header class="navbar navbar-expand-md navbar-light d-print-none">
  <div class="container-xl">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu"
      aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
      <a href=".">
        <img src="/logo.png" alt="My Cricle" class="navbar-brand-image" style="height: 50px; width : 60px">
      </a>
    </h1>

    <div class="input-group" style="width : 500px; margin-left: 320px">
      <input type="search" class="form-control rounded" placeholder="Search..." aria-label="Search"
        aria-describedby="search-addon" />
    </div>

    <div class="navbar-nav flex-row order-md-last">
      <div class="nav-item d-none d-md-flex me-3">
        <div class="btn-list">
          {{#if userDetails}}
          <a href="/logout" class="btn" rel="noreferrer">
            Log out
          </a>
          {{else}}
          <a href="/sign-up" class="btn" rel="noreferrer">
            Sign Up
          </a>
          <a href="/sign-in" class="btn" rel="noreferrer">
            Sign In
          </a>
          {{/if}}
        </div>
      </div>
      <div class="d-none d-md-flex me-2">
        <a href="?theme=dark" class="nav-link px-0 hide-theme-dark" title="Enable dark mode" data-bs-toggle="tooltip"
          data-bs-placement="bottom">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
          </svg>
        </a>
        <a href="?theme=light" class="nav-link px-0 hide-theme-light" title="Enable light mode" data-bs-toggle="tooltip"
          data-bs-placement="bottom">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
            <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" />
          </svg>
        </a>
        {{#if userDetails}}
        {{!-- Notification Icon --}}
        <div class="nav-item dropdown d-none d-md-flex me-3" id="notificationDiv">
          <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path>
              <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
            </svg>
            <span class="badge bg-primary" id="notificationCount">{{notificationCount}}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Notification</h3>
                <span class="btn btn-primary viewAllNotification" style="height: 30px; margin-left:180px">
                  View All
                </span>
              </div>
              <div class="list-group list-group-flush list-group-hoverable notificationPrepend overflow-auto"
                style="width:400px; height : 170px">
                {{#each notificationData}}
                <div class="list-group-item notification">
                  <div class="row align-items-center">
                    <div class="col-auto"><span class="status-dot status-dot-animated bg-primary d-block"></span></div>
                    <div class="col text-truncate">
                      <a href="#" class="text-body d-block showPost"
                        data-notification-post-id='{{postId}}'>{{likedUserName}}</a>
                      <div class="d-block text-muted text-truncate mt-n1">
                        Liked Your Post {{dateFormat createdOn}}
                      </div>
                    </div>
                    <div class="col-auto">
                      <a href="#" class="list-group-item-actions show">
                        <button type="button" class="btn-close notificaton-close" data-close-id="{{postId}}"
                          data-bs-dismiss="modal" aria-label="Close"></button>
                      </a>
                    </div>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
          <span class="avatar avatar-sm"
            style="background-image:url(/images/users/{{userDetails.profilePath}}); border-radius :25px;"
            data-login-user-id="{{userDetails._id}}" id="loginUserId"></span>
          <div class="d-none d-xl-block ps-2">
            <div>
              <h5 class="">{{userDetails.firstName}} {{userDetails.lastName}}</h5>
            </div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <a href="/users/editProfile" class="dropdown-item">Profile</a>
          <a href="/logout" class="dropdown-item">Logout</a>
        </div>
      </div>
      {{/if}}
    </div>
</header>



{{!-- Data set for Notificationa --}}
{{!-- <div class="container-xl">
  <div class="card">
    <div class="card-body">
      <div id="table-default" class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th><button class="table-sort" data-sort="sort-name">Name</button></th>
              <th><button class="table-sort desc" data-sort="sort-city">City</button></th>
              <th><button class="table-sort" data-sort="sort-type">Type</button></th>
              <th><button class="table-sort" data-sort="sort-score">Score</button></th>
              <th><button class="table-sort" data-sort="sort-date">Date</button></th>
              <th><button class="table-sort" data-sort="sort-quantity">Quantity</button></th>
              <th><button class="table-sort" data-sort="sort-progress">Progress</button></th>
            </tr>
          </thead>
          <tbody class="table-tbody">
            <tr>
              <td class="sort-name">Wicked Cyclone</td>
              <td class="sort-city">Six Flags New England, United States</td>
              <td class="sort-type">RMC Hybrid</td>
              <td class="sort-score">98,2%</td>
              <td class="sort-date" data-date="1568819813">September 18, 2019</td>
              <td class="sort-quantity">174</td>
              <td class="sort-progress" data-progress="3">
                <div class="row align-items-center">
                  <div class="col-12 col-lg-auto">3%</div>
                  <div class="col">
                    <div class="progress" style="width: 5rem">
                      <div class="progress-bar" style="width: 3%" role="progressbar" aria-valuenow="3" aria-valuemin="0"
                        aria-valuemax="100" aria-label="3% Complete">
                        <span class="visually-hidden">3% Complete</span>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> --}}