<div class="row container" style="margin-left: 170px;">
    {{log userData}}
    {{#each userData}}
    <div class="col-md-4 col-lg-4 mt-3">
        <div class="card">
            <div class="card-body p-4 text-center">
                <span class="avatar avatar-xl mb-3 rounded"
                    style="background-image: url(/images/users/{{#if profilePath}}{{profilePath}}{{else}}defaultAvatar.jpg{{/if}})"></span>
                <h3 class="m-0 mb-1">{{firstName}} {{lastName}}</a></h3>
                <div class="text-muted">Total post: {{postCreatedByUser}}</div>
                <div class="badge bg-green-lt">Account: {{accountType}}</div>
                <div class="mt-3">
                    <span class="">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler text-blue icon-tabler-heart-filled" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M6.979 3.074a6 6 0 0 1 4.988 1.425l.037 .033l.034 -.03a6 6 0 0 1 4.733 -1.44l.246 .036a6 6 0 0 1 3.364 10.008l-.18 .185l-.048 .041l-7.45 7.379a1 1 0 0 1 -1.313 .082l-.094 -.082l-7.493 -7.422a6 6 0 0 1 3.176 -10.215z"
                                stroke-width="0" fill="currentColor"></path>
                        </svg> {{savedPost}}</span>
                </div>
            </div>
            <div class="d-flex">
                <span class="card-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z">
                        </path>
                        <path d="M3 7l9 6l9 -6"></path>
                    </svg>
                    {{email}}</span>
                <span class="card-btn">
                    {{dateFormat createdOn}}</span>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<div class="d-flex mt-3">
    <ul class="pagination ms-auto">
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-disabled="false">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M15 6l-6 6l6 6"></path>
                </svg>
            </a>
        </li>

        {{#each pages}}
        <li class="page-item {{this}}"><a class="page-link userPages" href="javascript:void(0)"
                data-page-value="{{this}}">{{this}}</a></li>
        {{/each}}
        <li class="page-item">
            <a class="page-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 6l6 6l-6 6"></path>
                </svg>
            </a>
        </li>
    </ul>
</div>

{{!-- Show Notification Modal --}}
<div class="modal modal-blur fade" id="modal-showPost" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg has-error" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Liked Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="showPostImageDiv mb-4">
                    <img src="" alt="Post-Image" id="notificationPostPhoto" width="50%" height="300px"
                        style="margin-left : 155px">
                </div>
                <div class="title">
                    Title <p id="notificationTitle"></p>
                </div>
                <div class="description">
                    Description <p class="overflow-auto" id="notificationDescription"></p>
                </div>
            </div>
        </div>
    </div>
</div>